name: java-project-first

on:
 push:
  branches: [master]

jobs:
  build:
  runs-on: ubuntu-latest
  steps:
        # 1.checkout the repo
        - name: checking repo
          uses: actions/checkout@v4

          # 2.setup java sdk
         - name: installing java sdk
           uses: actions/setup-java@v4
           with:
             distrubution: 'temurin'
             java-version: '17'

          # 3.maven installation
         - name: build package
           run: mvn clean package -Dskiptest

          # 4. upload to artifact 
         - name: uplaod war artifact
           uses: actions/upload-artifact@v4
           with:
            name: mywebapp
            path: target/ *.war

  deploy: 
     runs-on: ubuntu-latest
     needs: build
     enviroment: production
  steps:
     # 5. Download war artifact
     - name: download artifact
       uses: actions/download-artifact@v4
       with:
         name: mywebbapp
     


     
     
  












